@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');
*{
    margin:0;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.nav{
    padding:20px;
    display:flex; 
    align-items: center;
    max-width: 1000px;
    margin:0 auto;
    border-bottom: 1px solid #fafafa;
}
.nav h1{
    color:aqua;
    font-size: 70px;
}
.nav .links{
    margin-left:auto;
    font-size: 30px;
}
.nav a{
    margin-left:auto;
    text-decoration: none;
    padding:10px;
    color:black;

}
.nav a:hover{
    color:aqua;
}
.home{
     margin: 0 auto;
}
.content{
    max-width: 1000px;
    font-size:30px;
    margin:40px auto;
    padding:20px;
}
.blog-preview{
    padding:10px 16px;
    margin:20px 0;
    border-bottom:1px solid #fafafa;
    
    
}
.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
}
.blog-preview h2{
    font-size:40px;
    color:aqua;
    margin-bottom:8px;
}
.blog-preview p{
    font-size:20px;
    color:black;
}
.blog-preview a{
    text-decoration: none;
}

.bloglists h2{
    display: flex;
    align-items: flex-start;

}
.blogDetails{
    display:flex;
    flex-direction: column;
    align-items: right;
}
.blogDetails p{
    color:gray;
}
.blog-preview{
    display:flex;
    align-items: flex-start;
}
.create{
    max-width: 400px;
    margin:0 auto;
    text-align: center;
}
.create label{
    text-align: left;
    display: block;
}
.create h1{
    font-size:50px;
    color:aqua;
    margin-bottom: 30px;
}
.create :where(input,textarea,select){
    width:100%;
    padding:6px,10px;
    margin:10px 0;
    border:1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: xx-large;
    text-align: start;

}
.create button{
    padding:10px;
    font-size: xx-large;
    margin:20px auto;
    border-radius: 10px;
    background-color: aqua;
    color:white;
    border:0;
    cursor: pointer;
}
.blogDetails button{
    padding:10px;
    font-size: xx-large;
    margin:20px auto;
    border-radius: 10px;
    background-color: aqua;
    color:white;
    border:0;
    cursor: pointer;
}
.not-found a{
    display: inline-block;
    text-decoration: none;
    padding:10px;
    font-size: xx-large;
    margin:10px;
    border-radius: 10px;
    background-color: aqua;
    color:white;
    border:0;
    cursor: pointer;

}
@media screen and (max-width:425px) {
    .nav a{
        font-size:0.7em;
    }
    .nav h1{
        font-size:30px;
    }
    .content{
        font-size:20px;
    }
}